{% extends 'blog/base.html' %}

{% block title %}
    Category 
{% endblock title %}


{% block content %}


    <div class="container" style="margin-top: 30px;">
        <section class="cover">
          {% for cat in category %}
            <div style="display: inline;">
                <div class="card" style="margin-top: 25px;">
                    <div class="row no-gutters">
                        <div class="col-sm-12">
                            <div class="card-body">
                                <img src="{{ cat.image.url }}" alt="" width="500px" height="300px"><br>

                                <a href="{{ cat.get_absolute_url }}"><span class = "ourtitle"  class="card-title">{{ cat.title }}</a>[{{ cat.auther }}]</span>
                                
                                <h5 class="card-title">{{ cat.content }}</h5>
                            </div>
                        </div>
                    </div><br>
                </div>
            </div>
            {% empty %}
                <h1> No post found with this category! </h1>
           {% endfor %}
        </section>
    </div>
{% endblock content %}