{% extends 'base.html' %}


{% block content %}
    {% for post in object_list %}
        <div>
            <h1>
                <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
            </h1>
            <p>{{ post.body }} </p>
        </div>

    {% endfor %}
    <p> This is my plot </p>

    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~Mohamed.Abodaa/1.embed"></iframe>


    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~Mohamed.Abodaa/1.embed"></iframe>
{% endblock content %}